@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
}

h1{
    margin-top: 10px;
    border: 1px solid black;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    color:white;
    background-color: rgb(94, 148, 193);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.24);
}

body{
    width: 800px;
    height: 750px;
    border: 1px solid black;
    position: relative;
    /**Será adicionada uma margem que depois deve ser removida, é apenas para que se consiga tirar print da tela**/
    margin: 5px;
}

.textCenter{
    text-align: center;
}

#ctnCargas{
    display: flex;
}

#ctnTitulo{
    margin-bottom: 10px;
}

#ctnCarregamentosEBtn{
    display: flex;
    margin-top: 5px; 
    justify-content: space-around;
    
}

#ctnApenasTabela{
    max-height: 99px;
    overflow: auto;
}

#ctn3{
    width: 600px;
    text-align: center;
    position: absolute;
    top: 600px;
    left: 10px;
}

#tabelaResultados{
    text-align: center;
}

#tabelaResultados>tbody>tr{
    border: 1px solid black;
}

#tableCoeficientesServico{
    margin: auto 0;
}

#tableCoeficientesUltimo{
    margin: auto 0;
}

#btnCalcular{
    width: 65px;
    height: 35px;
    margin: auto 20px;
}

#selectCargas{
    width:460px;
}

.ctncombinacoes{
    display: flex;
}

#selectCargas:first-child{
    text-align: center;
}

#ctn1{
    display: flex;
    margin: 10px;
}

#message{
    font-weight: bold;
    position: absolute;
    top: 165px;
    left: 0;
    margin: 5px;
    display: flex;
    align-items: center;
    border:1px solid black;
    margin-left: 485px;
}
.textoInput{
    width: 30px;
}

#ctnesquerda{
    border:1px solid black
}
.unidadeInput{
    width: 40px;
    text-align: center;
}

#tableVao{
    margin-top: 15px;
    margin-bottom: 18px;
}

.inputCarga, #inputVao{
    width: 60px;
    text-align: center;
}

canvas{
    width: 400px;
    height: 150px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
    font-size: 11px;
}

#MessageIcon{ 
  min-width: 50px;
  height: 50px;
  border-right: 1px black solid;
}

#MessageText{
    width: 250px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
}

#btnDEC,#btnDMF,button,input[type="button"]{
    padding: 8px 8px;
    transition-duration: 0.5s;
    background-color: rgb(94, 148, 193);
    border: 1px solid black;
    color:white;
    text-align: center;
    width: 65px;
    height: 35px;
}

#btnSave{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#titulo2{
    display: inline;
}

#ctn2{
    text-align: center;
}

#ctnImgAuxiliar{
    margin: 10px auto; 
}

.fator{
    width: 45px;
    text-align: center;
}

.duvida{
    border: 1px solid blue;
    width: 15px;
    text-align: center;
}

#ctnMensagemDuvida{
    width: 300px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(94, 148, 193);
    color:white;
}

#textoDuvida{
    width: 100%;
    height: 100%;
}

.tabelaEstilizada{
    border: 1px black solid;
    border-collapse: collapse;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.24);
}
.tabelaEstilizada>tbody>tr:nth-child(odd) {background-color: rgb(94, 148, 193);}
.tabelaEstilizada>tbody>tr:nth-child(even) {background-color: rgba(170, 173, 196, 0.4);}

