@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size:11px;
      
}

h1,h2{
    font-size: 12px;
    text-align: center;
    font-weight: 700;
    text-shadow: 1px 1px rgba(0,0,0,0.2);
}

input{
    text-align: center;
}

hr{
    border: 1px solid black;
    
}

.mediumInput{
    min-width: 85px;
}

#mainTitle{
    border: 1px solid black;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    color:white;
    background-color: rgb(94, 148, 193);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.24);
}

#ctnSaveTable{
    max-height: 94px;
    overflow: auto;
    position: relative;
}

#tableSave>thead>tr>th{
    position:sticky;
    top: -1px;
    color:black;
    border: .1px solid black
}

#tableSave thead th{
    background: linear-gradient(to top,black, black 1px, rgb(94, 148, 193) 1px, rgb(94, 148, 193) 100%);
    
}

.inicialImg{
    width: 100px;
    
}

#separator1{
    margin-top: 10px;
}

#separator2{
    margin-top: 10px;
}

.middleImg{
    margin-bottom: 30px;
}

table{
    border-collapse: collapse;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.24);
  }

#ctnInfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin-top: 16px;
}

#formTransversal{
    margin-top: 10px;
}

.btnFinal{
    color:white
}

#inputsOpcionais,#inputsObrigatorios{
    margin: 0 auto;
}

#optionalTitle{
    text-align: center;
}

#inputsObrigatorios{
    margin-bottom: 20px;
}

#ctnTransversal{
    text-align: center;
    margin-top: 10px;
    
}

#optionalTitle{
    color:black
}

#mainctn{
    width: 800px;
    height: 700px;
    border: 1px solid black;
    position: relative;
    /**Lembrar de tirar essa margem depois, é apenas para o print do TCC**/
    margin-top: 5px;
    margin-left: 5px;
    /**background-image: url(./images/bg/div/1.jpg);**/
}

#tableLongitudinal{
    text-align: center;
}

.containerInputs{
    text-align: center;
}

#inputsObrigatorios>tbody>tr:hover {background-color: rgb(215, 216, 255);}
#inputsOpcionais>tbody>tr:hover {background-color: rgb(165, 255, 248);}

#inputsObrigatorios>tbody>tr:nth-child(odd) {background-color: rgb(94, 148, 193);}
#inputsObrigatorios>tbody>tr:nth-child(even) {background-color: rgba(170, 173, 196, 0.4);}
#inputsOpcionais>tbody>tr:nth-child(odd) {background-color: rgba(3,152,158,0.8);}
#inputsOpcionais>tbody>tr:nth-child(even) {background-color: rgba(170, 173, 196, 0.4);}
td{
    border: 1px solid black;
    min-width: 50px;
    height: 25px;
    border-spacing: 0px;
}

.numberInput{
    width: 50px;
    
}

.center{
    margin: 0 auto;
}

.tableResults{
    text-align: center;
    
}

#results{
    margin-top: 10px;
    margin-left: 80px;
   
}

/* HIDE RADIO */
[type=radio] { 
    
    opacity: 0;
    width: 0;
    height: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
    
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    outline: 2px solid rgb(5, 77, 118);
    box-shadow: 4px 4px 2px 0 rgba(0,0,0,0.24);
  }

  #message{
      position: absolute;
      bottom: 5px;
      left: 0;
      margin: 5px;
      display: flex;
      align-items: center;
      border:1px solid black;
      margin-left: 80px;
  }

  #MessageIcon{
    
    min-width: 50px;
    height: 50px;

    border-right: 1px black solid;
  }

  .textAlignCenter{
    text-align: center;
  }

  #MessageText{
    width: 250px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
  }

  #saveParams{
    position: absolute;
    width: 300px;
    top: 15px;
    right: 0;
    margin: 8px;
  }

  #ctnTitleSave{
    text-align: left;
  }

  .mediumText{
    font-size: 15px;
  }

  #ctnFinal{
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 8px;
  }

  .bold{
    font-weight: bold;
  }

  #ctn3{
    position: absolute;
    top:500px;
    width: 100%;
  }

  .resultsTitle:first-child{
    width: 50px;
  }

  .resNumber{
    width: 70px;
  }
  
button{
    padding: 6px 8px;
    transition-duration: 0.5s;
    background-color: rgb(94, 148, 193);
    border: 1px solid black;
  }

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(3,152,158);
  }

#nextApp{
    margin-top: 10px;
    color: white;
}